.homepage {
  background: #fff;
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/image.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-position-y: top;
  background-attachment: fixed;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#h1 {
  padding: 100px;
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/image.png");
  background-position: center;
  background-position-y: top;

  color: white;
}

@media (max-width: 600px) {
  #h1 {
    font-size: 3rem;
  }
}
